body, html {
    height: 100%;

}

p, a {
    font-family: 'Lato', sans-serif;
    font-size: larger;
}

/* Navbar Css Start */
.navbar {
    background-color: white;
    margin: 25px 0px 25px;
    border-top: 1px solid #ffc847;
    border-bottom: 1px solid #ffc847;
}

.nav-item {
    margin-left: 2rem;
}

/* Image Banner with Text CSS Start */
#bannerDiv{
  background-image: url("images/brooke-cagle-xpJqm-Om3vY-unsplash.jpg");
  width: 100%;
  height:35rem;
  background-size: cover;
  background-position: center;
  background-position-y: 40%;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}

#bannerDivSm{
    background-image: url("images/federica-giusti-0wdkn9-n3vY-unsplash.jpg");
    width: 100%;
    height:12rem;
    background-size: cover;
    background-position: center;
    background-position-y: 30%;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
  }

#innerText {
    position: absolute;
    display: block;
    max-width: 700px;
    min-width: 200px;
    color: #373f51;
    font-weight: bold;
    font-family: 'Roboto Slab', Rockwell, Serif;
    margin: 25px 50px 75px;
    font-size: calc(1.3rem + 1vw);
    padding-bottom: 10px;
    border-bottom: 1px solid #373f51;
  
}

#innerText2 {
    position: absolute;
    display: block;
    max-width: 500px;
    min-width: 200px;
    color: #373f51;
    font-weight: bold;
    font-family: 'Roboto Slab', Rockwell, Serif;
    margin: 100px 50px 75px;
    font-size: 1.5rem;
}

/* Mission Statement CSS Start */
#missionStatementDiv {
    margin: 5rem auto 5rem !important;
    text-align: center;
}

#statementHeader {
    color: #ffb60a;
    font-family: 'Roboto Slab', Rockwell, Serif;
    font-size: calc(1.3rem + 1vw);
    margin-bottom: 2rem;
}

/* Info Cards CSS Start */
#box1{
    background-color: #70c1b3;
    padding: 1.5em;
}

#box2{
    background-color: #002642;
    padding: 1.5em;
    color: white;
}

#box3{
    background-color: #9dacff;
    padding: 1.5em;
}

.box{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 0px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
	padding: 50px 0px 50px 0px;
    min-height: 450px;
    font-family: 'Lato', sans-serif;    
}

#boxes {
    margin-top: 2em;
    margin-bottom: 4em;

}

    /* Without below code, the row extends several pixels too long */
.row {
    margin: auto;
}

/* About Us Page CSS Start */

#aboutContent {
    background-color: #00477A;
    color: whitesmoke;
}

/* Contact Us Page CSS Start */
.material-icons {
    font-size: 30px !important;
}


/* Footer CSS Start */
.footer{
    color:#e5dada;
}

#footerDiv {
    background-color: #8d93b9;
    color: #e5dada;
}

/* Media Query Start */
    /* Hiding subtitle on banner with smaller screens index page image banner*/
@media only screen and (max-width: 1109px) {
    #innerText2 {
        display: none;
    }
    #bannerDiv {
        height: 25rem !important;
        width: 100%;
    }
}
    /* Adding margins when info cards are stacked vertically */
@media only screen and (max-width: 992px) {
    .box {
        margin-bottom: 2rem !important;
        width: 90%;
    }

    #bannerDivSm {
        height: 6rem;
    }
}    

